
body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-align: center;
    padding: 10%;
    background-color: #ebf5e1;
  }

  h1, h2, h3 {
    padding: 1%;
  }

  p {
    margin-left: 10%;
    margin-right: 10%;
    padding:2%;
  }

  h3 {
    font-size: medium;
  }

  footer {
    padding: 2%;
    margin: 4%;
    background-color: #595c56;
    color:white;
    border-radius: 10px;


  }



